* {
  margin: 0;
  /* border: 0; */
  padding: 0;

  list-style: none;
  text-decoration: none;
}
:root {
  --bg-primary: #313536;
  --bg-secondary: #252829;

  --text-primary: #f2f2f2;
  --text-secondary: #abaeb0;

  --color-brand-primary: #9172a6;
  --color-brand-secondary: #9780a6;
  --color-brand-tertiary: #b5a4bf;

  --color-brand-highlight: #acdef2;
}
body {
  font-family: 'Raleway', sans-serif;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  width: 100%;
  height: 100vh;
}

.navbar {
  position: fixed;
  width: 0;
  height: 100vh;
  outline: 5px solid #17191a;

  background-color: var(--bg-secondary);
  visibility: hidden;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: 100;

  
}

.active {
  visibility: visible;
  width: 100%;
  z-index: 125;
  background-color: var(--bg-secondary);
}
#arrow-icon {
  margin: auto;
  position: fixed;
  top: .5rem;

  left: 1rem;
  right: auto;
  transition: all 0.5s ease;


  
  background-color: var(--bg-primary);
  -webkit-box-shadow: 0px 0px 5px 3px #202324; 
  box-shadow: 0px 0px 5px 3px #202324;
  border-radius: .5rem;
  padding: .75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 999;


  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.move-arrow #arrow-icon {
  position: fixed;

  top: .5rem;


  left: -webkit-calc(100% - 4rem);
  left: -moz-calc(100% - 4rem);
  left: calc(100% - 4rem);

  transition: all 0.5s ease;

  z-index: 999;


}

.move-arrow #arrow-icon i{
  /* position: fixed; */

  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.navbar .menu-brand {
  padding: 1rem 2rem;
  background-color: var(--bg-primary);

}
.navbar .menu-brand a {
  display: flex;
  align-items: center;
  background-color: var(--bg-primary);

}

.navbar .menu-brand .brand-icon {
  width: 1.5rem;
}

.navbar .menu-brand .brand-text {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  color: var(--text-primary);
}

.navbar .menu-item {
  padding: 1rem 2rem;
  /* display: flex; */
  transition: all 0.5s ease;
  overflow: hidden;
  /* position: relative; */
}
.navbar .menu-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;

  border-radius: 1rem;

  /* transition: all .2s ease; */
  overflow: hidden;
}

.navbar .menu-item a:hover {
  cursor: pointer;
  background-color: var(--bg-primary);
}

.navbar .menu-item .item-icon,
.navbar .menu-item .item-text {
  font-size: 1.25rem;
  color: var(--text-primary);
}

.navbar .menu-item .item-text {
  padding: 0 1rem;
  /* margin: 0 1rem; */
}

.navbar .menu-item:last-child {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;

  /* visibility: hidden; */
  width: 0;
  visibility: hidden;
  /* transition: all 0.5s ease; */
  overflow: hidden;
}
.active .menu-item:last-child {
  visibility: visible;
  width: calc(100% - 4rem);

  border-top: 2px solid #313536;

  /* background-color: var(--bg-secondary); */
}

.navbar .menu-item:last-child a {
  display: flex;
  /* height: rem; */
  /* width: ; */
  visibility: hidden;
  /* transition: all .5s ease; */
  overflow: hidden;
  justify-content: space-between;
}

.active .menu-item:last-child a {
  visibility: visible;
  width: calc(100% - 4rem);

  /* justify-content: space-between; */

  /* background-color: var(--bg-secondary); */
}
.navbar .menu-item:last-child .item-icon {
  padding: 0;
}
.navbar .menu-item:last-child .item-text {
  display: flex;
  overflow: hidden;
}
.active .menu-item:last-child .item-text {
  display: flex;
  overflow: hidden;

  /* background-color: var(--bg-secondary); */
}



main{
  position: absolute;
  width: calc(100% - 4rem);
  height: calc(100vh - 4rem);
  /* padding: 1rem 2rem; */
  /* z-index: 110; */
}
main .header{
  position: fixed;
  width: 100%;
  /* height: 3rem; */

  padding: 1rem 0;
  background-color: var(--bg-primary);
  background-color: var(--bg-secondary);

  display: flex;
  align-items: center;
  justify-content: center;
}
.header h1{
  font-size: 1.5rem;
  font-weight: 600;
}

main .content{
  width: 100%;
  margin-top: 3rem;
  padding: 2rem;
  text-align: justify;
}